<mat-card>
    <mat-card-content>
<div >
    <form>
        <table class="table ">  
        <thead class="thead-light">  
        <tr><th>Name</th>
        <th>UserName</th>
        <th>Client ID</th>
        <th>Status</th>
        <th>Deactivate</th></tr>
        </thead>
        <tr *ngFor="let user of users">
         
         <td>{{user.name}}</td>
         <td>{{user.username}}</td>
         <td>{{user.client_id}}</td>
         <td>{{user.status}}</td>
         <td><button type="button" class="btn btn-danger btn-sm" (click)="userDeactivate(user.client_id)">Click</button></td>
         
        </tr>
    </table>
    </form>

</div>
</mat-card-content>
</mat-card>